* {
    box-sizing: border-box;
}

body {
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    color: #756967;

    font-size: 18px;
    line-height: 23px;
}

.course-information {
    background: #feeed6;

    max-width: 848px;

    margin: 25px auto;
    padding: 7px 14px 3px 12px;
}

h1.header {
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;

    margin-top: 0;
    margin-bottom: 13px;
}

.blue {
    font-weight: bold;
    color: #378db2;
}

.strike {
    text-decoration: line-through;
}

.sections p {
    margin-top: 9px;
    margin-bottom: 7px;
}

.sections p:last-child {
    margin-top: 13px;
}

.text-long p:first-child {
    margin-top: 9px;
}

.text-long p {
    text-indent: 17px;
    text-align: justify;

    margin-top: 14px;
    margin-bottom: 0;
}