* {
    box-sizing: border-box;
}

body {
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    color: #756967;

    font-size: 18px;
    line-height: 23px;
}

body > .divide {
    background: #feeed6;

    max-width: 848px;

    margin: 25px auto;
    padding: 7px 14px 3px 12px;
}

h1.header {
    font-weight: 500;
    font-size: 32px;
    line-height: 35px;

    margin-top: 0;
    margin-bottom: 12px;
}

.blue {
    font-weight: bold;
    color: #378db2;
}

.strike {
    text-decoration: line-through;
}

p.section {
    margin-top: 11px;
    margin-bottom: 8px;
}

.text.long + .text.long {
    margin-top: 13px;
}

.long {
    text-indent: 17px;
    text-align: justify;

    margin-top: 0;
    margin-bottom: 0;
}