* {
    box-sizing: border-box;
}

.block {
    margin: 20px auto;
    max-width: 860px;
}

.table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    font-size: 24px;

    table-layout: auto;
    width: 100%;

    text-align: left;
}

.table tr:nth-child(odd) {
    background: #eee;
}

.table th {
    background: #3498db;
    color: #fff;
}

.table th,
.table td {
    padding: 12px 11px 11px;
    border: 1px solid #ccc;
}