* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 413px;
}

.form > *,
.todo-item > * {
    display: inline-block;
    vertical-align: top;
}

.error-message {
    display: none;
    color: #f00;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-list {
    padding-left: 0;
}

.todo-item + .todo-item {
    margin-top: 10px;
}

.todo-item-text,
.edit-todo-item {
    padding-right: 10px;
    width: 200px;
}

.todo-item {
    list-style-type: none;
}

.cancel-button,
.delete-button {
    width: 85px;
}

.save-button,
.edit-button {
    width: 120px;
}